.quality-wrapper{
    padding: 60px 16px 60px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quality__collumns{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.quality__heading{
    font-size: 45px;
    margin-bottom: 30px;
}

.accordion{
    padding: 10px;
}

.accordion__header{
    padding: 10px;
}
.accordion__header_title{
    color: #1D1E21;
    font-size: 26px;
    line-height: 33px;
    letter-spacing: 0.01em;
    font-family: "Blatant", sans-serif;
}

.accordion__header_title:hover{
    color: #C4A265;
}

.accordion__header_icon{
    margin: 0 0.75em 0 0;
}

.accordion__header_icon>svg{
    height: 2em;
    width: 2em;
    fill: #1D1E21;
}

.accordion__header_icon>svg:hover{
    fill:#C4A265;
}

.isn_active{
    display: none;
}

.accordion__link:hover{
    text-decoration: none;
}