.quality-wrapper{
    padding: 60px 16px 60px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quality__inner-wrapper{
    padding-left: 100px;
}

.quality__collumns{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.quality__heading{
    font-size: 45px;
    margin-bottom: 30px;
}

.accordion{
    padding: 10px;
}

.accordion__header{
    padding: 10px;
}
.accordion__header_title{
    color: #1D1E21;
    font-size: 26px;
    line-height: 33px;
    letter-spacing: 0.01em;
    font-family: "Blatant", sans-serif;
}

.accordion__header_title:hover{
    color: #C4A265;
}

.accordion__header_icon{
    margin: 0 0.75em 0 0;
}

.accordion__header_icon>svg{
    height: 2em;
    width: 2em;
    fill: #1D1E21;
}

.accordion__header_icon>svg:hover{
    fill:#C4A265;
}

.isn_active{
    display: none;
}

.accordion__link:hover{
    text-decoration: none;
}

.accordion__content{
    height: 0px;
    padding: 0px;
    margin-bottom: 10px;
    background: #F6F4F2;
    overflow: hidden;
    transition: all 1s cubic-bezier(0,1,0,1);
}

.show{
    padding: 23px 35px;
    height: auto;
    transition: all 1s cubic-bezier(1,0,1,0);

}

.accordion__content-inner>p{
    color: #666;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    line-height: 1.75;
    letter-spacing: 0.03em;
}

.accordion__content>p:first-child{
    margin-bottom: 1.5em;
}
