.store-header{
    background: url('../images/store-header.jpg');
    min-height: 420px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-left: 60px;
    padding-right: 60px;
    align-items: center;
    margin-bottom: 33px;
    padding-top: 50px;
    padding-bottom: 50px;    
    display: flex;
    -webkit-box-align: center;
}

.store__header-title{
    clear: both;
    font-family: "Blatant", sans-serif;
    font-weight: 400;
    font-size: 45px;
    line-height: 1;
    margin-bottom: 25px;
    color: #fff; 
}

.page-descriptions{
    display: flex;
    color: #fff;
}

.store-descriptions{
    width: 800px;
    font-size: 21px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    opacity: 0.7;
}

.first-letter{
    margin-right: 5px;
    font-size: 50px;
    line-height: 35px;
}

.cite_store__main{
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 70px;
}