.Tabs{
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    margin-bottom: 70px;
}

.Tabs_header{
    display: flex;
    align-items: center;
    border-bottom: 2px solid #C4A265;
    justify-content: center;
}

.Tabs_header__item{
    padding: 15px 30px;
    display: block;
    color: #1D1E21;
    font-family: "Blatant", sans-serif;
    font-size: 20px;
    font-weight: normal;
    cursor: pointer;
}

.Tabs_content-wrapper{
    padding-top: 55px;
}

.hide{
    display: none;
}

.Tabs_content-wrapper>p{
    margin-bottom: 25px;
    color: rgb(102, 102, 102);
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.48px;
    font-family: "Open Sans", sans-serif;
}

.Tabs_content-wrapper>ul>li{
    list-style:disc;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 14px;
    font-size: 16px;
    letter-spacing: 0.48px;
    line-height: 28px
}

.Tabs_content-wrapper>ul>li::marker{
    color: #C4A265;
}

.Tabs_content-wrapper__additional{
    padding-top: 55px;
    padding-bottom: 55px;
}

.additional_table{
    border-collapse: collapse;
    min-width: 960px;
}

.table_item{
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.03em;
    font-family: "Open Sans", sans-serif;
    text-align: left;
    color: #1D1E21;
    text-transform: capitalize;
    border-left: 2px solid #E1E1E1;
    padding: 15px 20px;
    border-bottom: 2px solid #E1E1E1;
    border-top: 2px solid #E1E1E1;
}

.table_value{
    font-family: "Open Sans", sans-serif;
    color: #C4A265;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.03em;
    border-right: 2px solid #E1E1E1;
    padding: 15px 20px;
    border-bottom: 2px solid #E1E1E1;
    border-top: 2px solid #E1E1E1;
}

.Tabs_content-wrapper__comments{
    padding-top: 50px;
}

.comments_title{
    color: #1D1E21;
    font-size: 26px;
    line-height: 33px;
    letter-spacing: 0.01em;
    margin-bottom: 25px;
}

.comments_subtitle{
    clear: both;
    padding: 15px 30px;
    border-radius: 3px;
    font-size: 21px;
    font-family: "Blatant", sans-serif;
    font-weight: normal;
    color: #666;
    background-color: #f7f9f6;
}

.comments_respond-wrapper{
    padding: 40px 30px;
    background: #F6F4F2;
    border: 1px solid #E1E1E1;
    margin-top: 40px;
}
.comments_respond-wrapper>span{
  font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 33px;
letter-spacing: 0.01em;
color: #1D1E21;
margin-bottom: 10px;
display: block;
font-family: "Blatant", sans-serif  
}

.comments_respond-wrapper>p{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 0.48px;
    line-height: 28px
}